  
.box-decore {
    margin-top: 55px;
    padding: 25px;    
    box-shadow: 1px 1px 15px -4px rgba(0,0,0,.2);
  }
  
  .output {
    margin-top: 55px;
    color: $color-primary;
  }

  .week {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .week-day {
    background: white;
    border: 2px solid green;
    margin: 1px; 
    height: 200px;
    width: 14%;
    padding: 5px;

    &--title {
      font-weight: 700;
    }

    
  }

  .meal-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;
    padding: 5px;

    h3 {
      font-size: 20px;
      height: 20%;
    }
    .img-box {
      overflow: hidden;
      height: 80%;
      width: 90%;
      text-align: center;
      // margin: 5px;

    }
    img {
      max-height: 80%
    }
  }